
<h1>Consultas cadastradas</h1>


<div class="prod-container">
    {{#each listar}}
     
    <strong> #{{this.id_consulta}} </strong> 
    <a href="/prod/{{this.id_consulta}}">{{id_consulta}}</a> 
    <p>CRM do Médico: {{crm}}</p>
    <p>Especialidade: {{especialidade}}</p>
    <p>CPF do Cliente: {{cpf_cliente}}</p>
    <p>Data da consulta {{data}}</p>
    <p>Hora da Consulta: {{hora}}</p>
    <p>Motivo da procura: {{motivo_procura}}</p>
    <p>Observação Médica: {{observacao_medico}}</p>

    {{/each}}


</div>