

<h1>Medico</h1>
      
         
<h1> {{listarMed.nome}} </h1>

<p>Este item tem {{listarMed.crm}} crm {{listarMed.especialidade}} especialidade {{listarMed.telefone}} telefone {{listarMed.endereco}} endereço</p>

<a href="/med/edit/{{listarMed.id}}">Editar</a>
<a href="/med/remove/{{listarMed.id}}" >Excluir</a>

