<h1>Consulta:</h1>
      
         
<h1> {{listarProd.id_cliente}} </h1>

<p>O CPF do cliente: {{listarProd.cpf_cliente}}</p>
<p>O CRM do Profissional: {{listarProd.crm}}</p>
<p>A Especialidade do médico: {{listarProd.especialidade}}</p>
<p>A data da consulta: {{listarProd.data}}</p>
<p>A hora da consulta: {{listarProd.hora}}</p>
<p>O motivo da procura: {{listarProd.motivo_procura}}</p>
<p>Observações médicas: {{listarProd.cpf_cliente}}</p>

<a href="/consulta/prod/edit/{{listarProd.id_consulta}}">Editar</a>
<a href="/consulta/prod/remove/{{listarProd.id_consulta}}" >excluir</a>
