{{> navbar}}
<div class="container page-margin-top">
  <div class="row">
    <div class="col-2">{{> navConsulta}}</div>
    <div class="col-10">
      <h1>Editar Dados de Consultas</h1>
      <hr>
      <form action="/consulta/prod/updateprod" method="POST">
        <div class="row">
          <input type="hidden" name="id_consulta" id="id_consulta" value="{{prod.id_consulta}}">

          <div class="form-group">
            <label for="crm">CRM:</label>
            <input class="form-control" type="number" name="crm" placeholder="Digite o seu CRM" value="{{prod.crm}}">
          </div>

          <div class="form-group">
            <label for="especialidade">Especialidade:</label>
            <input class="form-control" type="text" name="especialidade" placeholder="Digite a sua especialidade"
              value="{{prod.especialidade}}">
          </div>

          <div class="form-group">
            <label for="cpf_cliente">CPF do Cliente:</label>
            <input class="form-control" type="text" name="cpf_cliente" placeholder="Digite o CPF do cliente"
              value="{{prod.cpf_cliente}}">
          </div>
          <div class="form-group">
            <label for="data">Data:</label>
            <input class="form-control" type="date" name="data" placeholder="" value="{{prod.data}}">
          </div>
          <div class="form-group">
            <label for="hora">Hora:</label>
            <input class="form-control" type="time" name="hora" placeholder="" value="{{prod.hora}}">
          </div>
          <div class="form-group">
            <label for="motivo_procura">Motivo da procura:</label>
            <input class="form-control" type="text" name="motivo_procura" placeholder="Motivo da procura"
              value="{{prod.motivo_procura}}">
          </div>
          <div class="form-group">
            <label for="observacao_medico">Observação Médica:</label>
            <input class="form-control" type="text" name="observacao_medico" placeholder="Observação"
              value="{{prod.observacao_medico}}">
          </div>

          <input class="btn btn-primary" type="submit" value="Editar">
        </div>
      </form>
    </div>
  </div>
</div>