{{> navbar}}
<div class="container page-margin-top">
  <div class="row">
    <div class="col-2">{{> navConsulta}}</div>
    <div class="col-10">
      <h1>Consultas cadastradas</h1>
      <table class="table striped">
        <thead>
          <th>CRM do Médico</th>
          <th>Especialidade</th>
          <th>CPF do Cliente</th>
          <th>Data da consulta</th>
          <th>Hora da consulta</th>
          <th>Motivo da procura</th>
          <th>Observação Médica</th>
        </thead>
        <tbody>
          {{#each listar}}
          <tr>
            <td>{{crm}}</td>
            <td>{{especialidade}}</td>
            <td>{{cpf_cliente}}</td>
            <td>{{data}}</td>
            <td>{{hora}}</td>
            <td>{{motivo_procura}}</td>
            <td>{{observacao_medico}}</td>
            <td><a href="/consulta/prod/{{this.id_consulta}}">Mais ...</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>